* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #6C567B;
  border: solid 5px #C06C84;
  background-color: #C06C84;
  font-size: 30px;
  font-weight: bolder;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  grid-area: header;
}

.barraNav {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border: solid 1px #C06C84;
  background-color: #C06C84;
}

body {
  background-image: url("https://img.freepik.com/fotos-premium/templo-hindu-mariamman-o-chua-ba-mariamman-ciudad-ho-chi-minh-vietnam-detalle-gopuram-sobre-entrada-templo-hindu-mariamman-templo-fue-construido-finales-siglo-xix_479694-763.jpg?w=2000");
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  width: 50%;
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  border: 1px solid #f1f1f1;
}

.recuadro {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  border: 1px solid #f1f1f1;
  width: 70%;
}

h2 {
  font-family: "Poppins", sans-serif;
  margin-left: 5px;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 25px;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #6C567B;
  font-size: 25px;
  font-weight: bold;
}

.white {
  color: white;
}

.cardLocal {
  display: block;
  margin-top: 50px;
  border: solid 3px black;
  background-image: url("https://media.istockphoto.com/vectors/mandala-line-frame-background-vector-id1264393479?k=20&m=1264393479&s=612x612&w=0&h=3idxnqorMHit1j98V_05_V_qPl-GkJWXQk0uAMg2d60=");
  background-repeat: repeat-x;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bolder;
  color: white;
  font-size: 25px;
  width: 50%;
  border-radius: 5px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: scale-up-center;
          animation-name: scale-up-center;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
.cardLocal p {
  border: none;
  background-color: transparent;
  width: 90%;
}

ol li {
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
  font-weight: bolder;
  list-style-type: square;
}

form {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  border: double 5px black;
}

form label {
  margin-left: 5px;
}

form input {
  margin-left: 2px;
}

form button {
  margin-left: 5px;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.beneficios {
  list-style-type: square;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: black;
  width: 30%;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.contacto {
  margin-left: 10px;
  width: 50%;
}

textarea {
  margin-left: 10px;
}

.cardLocal {
  display: block;
  margin-top: 50px;
  border: solid 3px black;
  background-image: url("https://media.istockphoto.com/vectors/mandala-line-frame-background-vector-id1264393479?k=20&m=1264393479&s=612x612&w=0&h=3idxnqorMHit1j98V_05_V_qPl-GkJWXQk0uAMg2d60=");
  background-repeat: repeat-x;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bolder;
  color: white;
  font-size: 25px;
  width: 50%;
  border-radius: 5px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: scale-up-center;
          animation-name: scale-up-center;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.caption {
  color: white;
  text-align: center;
  padding-bottom: 5px;
  font-weight: bold;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
}

.container {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  width: 850px;
  align-items: center;
  margin-left: 500px;
  margin-top: 100px;
}

.top {
  background-color: #060;
  color: white;
  font-weight: 700;
}

.table > div {
  padding: 12px;
  text-align: center;
  border-left: 1px solid #060;
  border-top: 1px solid #060;
}

.rightBorder {
  border-right: 1px solid #060;
}

.bottomBorder {
  border-bottom: 1px solid #060;
}

.leftBorder {
  border-left: 1px solid #060;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  margin-left: 330px;
  margin-top: 15px;
  width: 200px;
  height: 30px;
  font-size: 20px;
}

.sabiasQue {
  font-family: "Poppins", sans-serif;
  color: #6C567B;
  font-size: 25px;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #6C567B;
}

.body {
  grid-area: body;
}

.table {
  grid-area: table;
}

.holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 97%;
}

.info {
  grid-area: info;
}

.flex {
  display: flex;
  flex-direction: row;
}

.grilla {
  display: grid;
  grid-template-areas: "header  header  header" "body    body    body" "table   table   table" "footer  footer  footer";
  grid-template-rows: 225px 2fr 75px;
  grid-template-columns: 20% auto 15%;
}

.grilla1 {
  display: grid;
  grid-template-areas: "header  header  header" "info    info    info" "info    info    info" "footer  footer  footer";
  grid-template-rows: 225px 2fr 75px;
  grid-template-columns: 20% auto 15%;
}

.grilla2 {
  display: grid;
  grid-template-areas: "header" "datos" "footer";
  grid-template-rows: 100px 70vh 2fr;
  grid-template-columns: 100%;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.redes {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  list-style-type: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer {
  margin-top: 105px;
  background-color: #C06C84;
}

.footer {
  grid-area: footer;
}

.logoRedes {
  height: 70px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fb {
  margin-left: 30px;
}

.ig {
  margin-left: 45px;
}

.yt {
  margin-right: 15px;
}

.tw {
  margin-left: 10px;
}

img {
  border-radius: 5px;
}

.imgIndex {
  height: 400px;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline;
  border-radius: 5px;
}

.monje {
  height: 350px;
  width: auto;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.yoga, .amuleto, .playa {
  height: 300px;
  width: auto;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.mandala {
  height: 250px;
  width: auto;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.chakras {
  height: 280px;
  width: auto;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.caminata {
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.imgB {
  height: 450px;
  width: auto;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imgNosotros {
  height: 450px;
  width: auto;
  margin-left: 25px;
  margin-right: 15px;
  margin-top: 100px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .grilla {
    margin: 0;
    grid-template-areas: "header header" "body   body" "table  table" "footer footer";
    grid-template-columns: 102vh;
    grid-template-rows: 2fr;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 23px;
    align-self: center;
    margin-top: 20px;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
  .holder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
  }
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    grid-area: header;
    text-align: center;
  }
  .imgIndex {
    height: 400px;
    width: auto;
    border-radius: 5px;
    align-self: center;
  }
  .table {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 1px;
  }
  .grilla1 {
    margin: 0;
    grid-template-areas: "header" "info" "footer";
    grid-template-columns: 90vh;
    grid-template-rows: 1fr;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
  }
  .monje {
    height: auto;
    width: 500px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  .yoga, .amuleto, .playa {
    height: auto;
    width: 500px;
    margin-left: 25px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  .mandala {
    height: auto;
    width: 370px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  .chakras {
    height: auto;
    width: 550px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  .caminata {
    height: auto;
    width: 500px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  .amuleto, .playa {
    height: auto;
    width: 500px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  .playa {
    height: auto;
    width: 500px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  h1 {
    font-size: 50px;
  }
  .barraNav {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  ol {
    font-family: "Poppins", sans-serif;
    margin-left: 14%;
    font-weight: bolder;
    list-style-type: square;
    align-self: center;
    margin-top: 15px;
  }
  .footer {
    grid-area: footer;
  }
  .info {
    grid-area: info;
  }
  .beneficios {
    list-style-type: square;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    color: black;
    margin-left: 225px;
    width: 45%;
    font-size: 26px;
  }
  .imgB {
    height: 420px;
    width: auto;
    border-radius: 5px;
    align-self: center;
    margin-right: 88px;
  }
  .b1 {
    margin-left: 200px;
  }
  .grilla2 {
    display: grid;
    grid-template-areas: "header" "datos" "datos" "footer";
    grid-template-rows: 38vh;
    grid-template-columns: 100%;
  }
  .imgNosotros {
    height: auto;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .container {
    margin-left: 80px;
    width: 90%;
    height: auto;
  }
  button {
    margin-left: 0px;
  }
  .sabiasQue {
    text-align: center;
    align-self: center;
    margin-top: 15px;
  }
  form {
    margin-bottom: 20px;
    margin-left: 100px;
    color: white;
    height: 400px;
  }
  h4 {
    color: white;
    font-size: 15px;
  }
  .contacto {
    border: none;
    margin-left: 250px;
  }
  h5 {
    margin-top: 85px;
  }
  body {
    background-image: url("https://img.freepik.com/fotos-premium/templo-hindu-mariamman-o-chua-ba-mariamman-ciudad-ho-chi-minh-vietnam-detalle-gopuram-sobre-entrada-templo-hindu-mariamman-templo-fue-construido-finales-siglo-xix_479694-763.jpg?w=2000");
    background-repeat: repeat;
    background-size: cover;
  }
  .bgDark {
    color: white;
  }
}
@media (max-width: 480px) {
  .grilla {
    margin: 0;
    grid-template-areas: "header" "body" "table" "footer";
    grid-template-columns: 90vh;
    grid-template-rows: 2fr;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 14px;
    align-self: center;
    margin-top: 20px;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
  .holder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
  }
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    grid-area: header;
    text-align: center;
  }
  body {
    background-image: url("https://img.freepik.com/fotos-premium/templo-hindu-mariamman-o-chua-ba-mariamman-ciudad-ho-chi-minh-vietnam-detalle-gopuram-sobre-entrada-templo-hindu-mariamman-templo-fue-construido-finales-siglo-xix_479694-763.jpg?w=2000");
    background-repeat: repeat;
    background-size: cover;
  }
  .imgIndex {
    height: 400px;
    width: auto;
    border-radius: 5px;
    align-self: center;
  }
  .table {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 1px;
  }
  .grilla1 {
    margin: 0;
    grid-template-areas: "header" "info" "footer";
    grid-template-columns: 90vh;
    grid-template-rows: 1fr;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
  }
  .monje {
    height: auto;
    width: 300px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  .yoga, .amuleto, .playa {
    height: auto;
    width: 300px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  .mandala {
    height: auto;
    width: 200px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  .chakras {
    height: auto;
    width: 350px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  .caminata {
    height: auto;
    width: 300px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  .amuleto, .playa {
    height: auto;
    width: 300px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  .playa {
    height: auto;
    width: 300px;
    margin-right: 20px;
    border-radius: 5px;
    align-self: center;
  }
  h1 {
    font-size: 50px;
  }
  .barraNav {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  ol li {
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    font-weight: bolder;
    list-style-type: square;
    align-self: center;
  }
  .footer {
    grid-area: footer;
  }
  .info {
    grid-area: info;
  }
  .beneficios {
    list-style-type: square;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    color: black;
    margin-left: 225px;
  }
  .imgB {
    height: 320px;
    width: auto;
    border-radius: 5px;
    align-self: center;
    margin-right: 70px;
  }
  .grilla2 {
    display: grid;
    grid-template-areas: "header" "datos" "footer";
    grid-template-rows: 20vh;
    grid-template-columns: 100%;
  }
  .imgNosotros {
    height: auto;
    width: 550px;
    display: flex;
    flex-direction: column;
  }
  .container {
    margin-left: 90px;
    width: 80%;
    height: auto;
  }
  button {
    margin-left: 0px;
  }
  .b1 {
    margin-right: 170px;
  }
  form {
    width: 100%;
  }
  h4 {
    margin-top: 115px;
  }
}/*# sourceMappingURL=style.css.map */